<%= form_with(model: classroom) do |form| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
        <% classroom.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-6">
    <%= form.label :name, class:"block text-sm font-medium leading-5 text-bb-gray-700" %>
    
    <div class="my-4 rounded-md shadow-sm">
      <%= form.text_field :name, autofocus: true, autocomplete: "name", placeholder:"Name", class: "transition border focus:outline-none focus:shadow-outline-blue block w-full appearance-none rounded-md border-gray-300 px-3 py-2 placeholder-gray-400 duration-150 ease-in-out focus:border-blue-300 sm:text-sm sm:leading-5", required:"true" %>
    </div>
  </div>

  <div class="mt-6">
    <%= form.label :role %>
    <%= form.number_field :role %>
  </div>

    <div class="mt-6">
    <%= form.submit "Submit", class: "transition border bg-blue-500
      hover:bg-blue-700 focus:outline-none group relative flex w-full
      justify-center rounded-md border-transparent px-4 py-2 my-4 text-sm
      font-medium leading-5 text-white duration-150 ease-in-out" %>
  </div>
<% end %>
