<div class="row">
  <div class="col-lg-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div
          class="d-sm-flex justify-content-center justify-content-sm-between"
        >
          <h1><%=@classroom %> Student List</h1>
        </div>
        <p class="card-title">Total Students found: <%= @students.count %></p>

        <div class="table-responsive">
          <table id="recent-purchases-listing" class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>More</th>
              </tr>
            </thead>
            <tbody>
              <% @students.each_with_index do |student, index| %>
              <tr>
                <td><%= index +1 %></td>
                <td><%= student.user.email %></td>
                <td><%= student.user.name %></td>
                <td><%= calculate_age(student.dob) %></td>
                <td>
                  <%= link_to "More", student, class:"btn btn-link btn-fw" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
