<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>


<p>
  <strong>Class name:</strong>
  <%= @course.classroom.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @course.subject.name %>
</p>

<p>
  <strong>Course date:</strong>
  <%= @course.course_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>


<p>Content:<strong><%= @course.content %></strong></p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
