
<div className="mt-10 flex justify-between text-bb-gray-600">
  <div class="w-full mx-4 my-4  rounded-lg border shadow-md dark:border-gray-700">
    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-50 rounded-t-lg border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
        <li class="mr-2">
            <span id="about-tab" data-tabs-target="#about" role="tab" aria-controls="about" aria-selected="true" class="inline-block p-4 text-gray-900 rounded-tl-lg text-lg "><%= @course.classroom.name %></span>
        </li>
        <li class="mr-2">
            <span id="services-tab" data-tabs-target="#services" role="tab" aria-controls="services" aria-selected="false" class="inline-block p-4 text-gray-900 rounded-tl-lg text-lg "><%= @course.subject.name %></span>
        </li>
        <li class="mr-2">
            <span id="statistics-tab" data-tabs-target="#statistics" role="tab" aria-controls="statistics" aria-selected="false" class="inline-block p-4 text-gray-900 rounded-tl-lg text-lg "><%= @course.course_date %></span>
        </li>
    </ul>
    <div id="defaultTabContent">
        <div class="p-4  rounded-lg md:p-8" id="about" role="tabpanel" aria-labelledby="about-tab">
            <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 ">  <%= @course.title %></h2>
            <p class="mb-3 text-gray-500 "><%= @course.content %></p>

        </div>
    </div>
</div>
 <h2 class="mx-3 my-4 text-3xl font-extrabold tracking-tight text-gray-900 "> Comments</h2>
    <% @comments.each do |comment| %>
    <div class="w-full mx-4 rounded-lg  px-2 py-2 my-2 ">
      <div class="flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
      </div>
      <div class="border-b border-gray-400  bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="mb-2">
                      <h2 class="text-3xl font-lg tracking-tight text-gray-600 ">   <%= comment.content %></h2>
        </div>
        <div class="flex items-center">
          <div class="text-sm">
            <p class="text-gray-900 leading-none"> <%= comment.user.name %></p>
            <p class="text-gray-600"> <%= comment.created_at %></p>
          </div>
        </div>
      </div>
    </div>
      <% end %>
      <%= render "comments/form", comment: @comment%>
</div>


