<!DOCTYPE html>
<html>
  <head>
    <title>Nana Ama</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

<%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <% if current_user %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>

      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>

    <% if notice %>
       <p class="notice"><%= notice %></p>
       <% end %>
       <% if alert %>
       <p class="alert"><%= alert %></p>   
       <% end %>
       <%= yield %>
          <div class="template-demo">
              <%= link_to :back, class:"btn btn-outline-danger btn-icon-text" do
              %>
              <i class="mdi mdi-arrow-left-bold btn-icon-prepend"></i>
              Go Back <% end %>
            </div>
          </div>
  </body>
</html>
