<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard || Nana Ama</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
       <%= render 'shared/navbar' %>
        <div class="max-w-9xl mx-auto px-4 py-2 sm:px-6 lg:px-8" >
        <div class="mx-auto max-w-9xl">
        <div class="flash"><%= render 'shared/flash' %> </div>
        <%= yield %>
         <div class="template-demo">
          <%= link_to :back, class:"btn btn-outline-danger btn-icon-text" do %>
          <i class="mdi mdi-arrow-left-bold btn-icon-prepend"></i>
          Go Back 
          <% end %>
          </div>
        </div>
        </div>
      </div>
    </body>
    <script src="https://unpkg.com/flowbite@1.5.2/dist/datepicker.js"></script>
</html>
